<html>
  <head>
  </head>
  <body>
    <h1>Rooms</h1>
    <ul>
    {% for room in rooms %}
      <li><span class="room_id">{{room.id}}</span><span class="room_name">{{room.name}}</span></li> 
    {% endfor %}
    </ul>
  </body>  
</html>
